body {
	width: 100%;
	height: 675px;
	background-size: 100%;
	background-repeat: no-repeat;
	background-image: url('../images/bg.jpg');
	background-position: center;
	font-size: 13px;
	font-family: arial;
}
#top {
	width: 100%;
	height: 70px;
	/* border-bottom: 1px red solid; */
}

#top-1 {
	width: 50%;
	font-size: 20px;
	float: left;
	margin-top: 10px;
}
i {
	display: inline-block;
	padding-left: 18px;
}
#top-2 {
	width: 50%;
	float: left;
	margin-top: 10px;
}
#top #top-2 .ul {
	margin: 0px;
	padding: 0px;
	line-height: 24px;
}
#top #top-2 ul li {
	list-style: none;
	float: left;
	padding-left: 20px;
	display: inline-block;
}
#top #top-2 .ul .li {
	display: inline-block;
	border: 1px gray outset;
	background: #ddd;
	border-radius: 5px;
	width: 41px;
	height: 24px;
	margin-left: 20px;
	line-height: 24px;
	padding-left: 8px;
} 
#mid {
	width: 100%;
}
#mid #mid-1 {
	width: 18%;
	height: 570px;
	float: left;
}
#mid #mid-1 .mid-a {
	text-decoration: none;
	padding-left: 30px;
	display: inline-block;
	margin-top: 9px;
}
#mid #mid-1 .mid-a:hover {
	color: red;
	font-size: 25px;
	transition:  ease-in-out 1.0s;
	-moz-transition: ease-in-out 1.0s;
	-webkit-transition: ease-in-out 1.0s;
}

#mid-2 {
	float: left;
	width: 82%;
	height: 570px;
}
#mid #mid-2 .mid-2-1 {
	width: 200px;
	height: 176px;
	float: left;
	background: #eee;
	margin-top: 10px;
	border-radius: 10px;
}


#mid #mid-2 .mid-2-1 .no-1 {
	width: 100%;
	height: 26px;
	line-height: 26px;
	padding-left: 5px;
}

#mid #mid-2 .mid-2-1 .no-2 {
	width: 100%;
	clear: left;
}

#mid #mid-2 .mid-2-1 .no-2 img {
	max-width: 200px;
	position: absolute;
	display: inline-block;
	border-radius: 0px 0px 10px 10px;

	transition: all ease-in-out 300ms;
	transform: scale(1);
}

#mid #mid-2 .mid-2-1 .no-2 img:hover {
	z-index: 1;
	transform: scale(1.2);
}


#mid #mid-2 .mid-2-1 .no-2 .no-3 {
	width: 95%;
	height: 20px;
	position: relative;
	background: black;
	color: white;
	top: 129px;
	padding-left: 10px;
	line-height: 20px;
	background-color: rgba(0, 0, 0, 0.5);
	display: inline-block;
	border-radius: 0px 0px 10px 10px;
}

#mid #mid-2 .mid-2-2 {
	margin-left: 15px;
	width: 200px;
	height: 175px;
	background: #eee;
	float: left;
	margin-top: 10px;
	border-radius: 10px;
}

#mid #mid-2 .mid-2-2 .no-1 {
	width: 100%;
	height: 26px;
	line-height: 26px;
	padding-left: 5px;
}
/* đến đây nhé */
#mid #mid-2 .mid-2-2 .no-2 {
	width: 100%;
	clear: left;
}

#mid #mid-2 .mid-2-2 .no-2 img {
	max-width: 200px;
	position: absolute;
	display: inline-block;
	border-radius: 0px 0px 0px 0px;


	transition: all ease-in-out 300ms;
	transform: scale(1);
}
#mid #mid-2 .mid-2-2 .no-2 .no-3 {
	width: 95%;
	height: 20px;
	position: relative;
	background: black;
	color: white;
	top: 129px;
	padding-left: 10px;
	line-height: 20px;
	background-color: rgba(0, 0, 0, 0.7);
	display: inline-block;
	border-radius: 0px 0px 10px 10px;
}

/* css-class 2-3 */
#mid #mid-2 .mid-2-3 {
	margin-left: 15px;
	width: 200px;
	height: 175px;
	background: #eee;
	float: left;
	margin-top: 10px;
	border-radius: 10px;
} 
#mid #mid-2 .mid-2-3 .no-1 {
	width: 100%;
	height: 26px;
	line-height: 26px;
	padding-left: 5px;
}

#mid #mid-2 .mid-2-3 .no-2 {
	width: 100%;
	clear: left;
}

#mid #mid-2 .mid-2-3 .no-2 img {
	max-width: 200px;
	position: absolute;
	display: inline-block;
	border-radius: 0px 0px 0px 0px;


	transition: all ease-in-out 300ms;
	transform: scale(1);
}
#mid #mid-2 .mid-2-3 .no-2 .no-3 {
	width: 95%;
	height: 38px;
	position: relative;
	background: black;
	color: white;
	top: 111px;
	padding-left: 10px;
	line-height: 20px;
	background-color: rgba(0, 0, 0, 0.7);
	display: inline-block;
	border-radius: 0px 0px 10px 10px;
}
#clear {
	clear: left;
}

/* css cho class 2-4 */
#mid #mid-2 .mid-2-4 {
	margin-left: 0px;
	width: 200px;
	height: 175px;
	background: #eee;
	float: left;
	margin-top: 10px;
	border-radius: 10px;
} 
#mid #mid-2 .mid-2-4 .no-1 {
	width: 100%;
	height: 31px;
	line-height: 26px;
	padding-left: 5px;
}

#mid #mid-2 .mid-2-4 .no-2 {
	width: 100%;
	clear: left;
}

#mid #mid-2 .mid-2-4 .no-2 img {
	max-width: 200px;
	position: absolute;
	display: inline-block;
	border-radius: 0px 0px 10px 10px;


	transition: all ease-in-out 300ms;
	transform: scale(1);
}
#mid #mid-2 .mid-2-4 .no-2 .no-3 {
	width: 95%;
	height: 38px;
	position: relative;
	background: black;
	color: white;
	top: 106px;
	padding-left: 10px;
	line-height: 20px;
	background-color: rgba(0, 0, 0, 0.7);
	display: inline-block;
	border-radius: 0px 0px 10px 10px;
}

/* css cho class 2-5 */
#mid #mid-2 .mid-2-5 {
	margin-left: 15px;
	width: 200px;
	height: 175px;
	background: #eee;
	float: left;
	margin-top: 10px;
	border-radius: 10px;
} 
#mid #mid-2 .mid-2-5 .no-1 {
	width: 100%;
	height: 31px;
	line-height: 26px;
	padding-left: 5px;
}

#mid #mid-2 .mid-2-5 .no-2 {
	width: 100%;
	clear: left;
}

#mid #mid-2 .mid-2-5 .no-2 img {
	max-width: 200px;
	position: absolute;
	display: inline-block;
	border-radius: 0px 0px 0px 0px;


	transition: all ease-in-out 300ms;
	transform: scale(1);
}
#mid #mid-2 .mid-2-5 .no-2 .no-3 {
	width: 95%;
	height: 38px;
	position: relative;
	background: black;
	color: white;
	top: 106px;
	padding-left: 10px;
	line-height: 20px;
	background-color: rgba(0, 0, 0, 0.7);
	display: inline-block;
	border-radius: 0px 0px 10px 10px;
}

/* css cho 2-6 */
#mid #mid-2 .mid-2-6 {
	margin-left: 15px;
	width: 200px;
	height: 175px;
	background: #eee;
	float: left;
	margin-top: 10px;
	border-radius: 10px;
} 
#mid #mid-2 .mid-2-6 .no-1 {
	width: 100%;
	height: 31px;
	line-height: 26px;
	padding-left: 5px;
}

#mid #mid-2 .mid-2-6 .no-2 {
	width: 100%;
	clear: left;
}

#mid #mid-2 .mid-2-6 .no-2 img {
	max-width: 200px;
	position: absolute;
	display: inline-block;
	border-radius: 0px 0px 10px 10px;


	transition: all ease-in-out 300ms;
	transform: scale(1);
}
#mid #mid-2 .mid-2-6 .no-2 .no-3 {
	width: 95%;
	height: 38px;
	position: relative;
	background: black;
	color: white;
	top: 106px;
	padding-left: 10px;
	line-height: 20px;
	background-color: rgba(0, 0, 0, 0.7);
	display: inline-block;
	border-radius: 0px 0px 10px 10px;
}
#clear-2 {
	clear: left;
}

/* css cho class 2-7 */
#mid #mid-2 .mid-2-7 {
	margin-left: 0px;
	width: 200px;
	height: 175px;
	background: #eee;
	float: left;
	margin-top: 10px;
	border-radius: 10px;
} 
#mid #mid-2 .mid-2-7 .no-1 {
	width: 100%;
	height: 31px;
	line-height: 26px;
	padding-left: 5px;
}

#mid #mid-2 .mid-2-7 .no-2 {
	width: 100%;
	clear: left;
}

#mid #mid-2 .mid-2-7 .no-2 img {
	max-width: 200px;
	position: absolute;
	display: inline-block;
	border-radius: 0px 0px 10px 10px;


	transition: all ease-in-out 300ms;
	transform: scale(1);
}
#mid #mid-2 .mid-2-7 .no-2 .no-3 {
	width: 95%;
	height: 38px;
	position: relative;
	background: black;
	color: white;
	top: 112px;
	padding-left: 10px;
	line-height: 20px;
	background-color: rgba(0, 0, 0, 0.7);
	display: inline-block;
	border-radius: 0px 0px 10px 10px;
}
#clear-3 {
	clear: left;
}

#bot{
	width: 100%;
	height: 43px;
	clear: left;
}

#bot ul {
padding-left: 0px;
padding-top: 21px;
}
#bot ul li {
	list-style: none;
	float: left;
	padding-left: 10px;
}
#bot ul li a {
	color: blue;
}


#mid #mid-2 .mid-2-2 .no-2 img:hover {
	z-index: 1;
	transform: scale(1.3);
}

#mid #mid-2 .mid-2-3 .no-2 img:hover {
	z-index: 1;
	transform: scale(1.3);
}

#mid #mid-2 .mid-2-4 .no-2 img:hover {
	z-index: 1;
	transform: scale(1.3);
}

#mid #mid-2 .mid-2-5 .no-2 img:hover {
	z-index: 1;
	transform: scale(1.3);
}

#mid #mid-2 .mid-2-6 .no-2 img:hover {
	z-index: 1;
	transform: scale(1.3);
}
#mid #mid-2 .mid-2-7 .no-2 img:hover {
	z-index: 1;
	transform: scale(1.3);
}

#bot .bot-ul li a:hover {
	color: red;
	font-size: 15px;
}