* {
	padding: 0px;
	margin: 0px; 
}

body {
	font-size: 12px;
	font-family: Tahoma;
}

#container {
	margin: 0px auto;
	width: 100%;
}

#container-1 {
	width: 100%;
}
#top {
	width: 100%;
	background: #1f1f1f;
	height: 100px;
}

#top .top-left {
	width: 25%;
	height: 100px;
	float: left;
	color: white;
	font-size: 18px;
}
#top .top-left p{
	padding-left: 100px;
	padding-top: 27px;
}

#top .top-mid {
	width: 50%;
	height: 100px;
	float: left;
	color: gray;
}

#top .top-mid p {
	padding-top: 27px;
	padding-left: 90px;
}

#top .top-right {
	width: 25%;
	height: 100px;
	float: left;
	color: white;
	color: #8d600f;
}

#top .top-right .top-right-1 {
	padding-top: 27px;
	padding-left: 90px;
}
#top .top-right .top-right-2 {
	padding-top: 5px;
	padding-left: 90px;
}