body {
	margin: 0px;
	padding: 0px;
}

#container {
	font-family: Tahoma;
	width: 80%;
	margin: 0px auto;
	background-image: url('../images/bgr.jpg');
	height: 1000px;
}

#header {
	color: white;
	text-align: center;
	padding-top: 10px;
}

#navbar {
	
}