body {
	padding: 20px;
	font-family: Tahoma;
}

.title {
	font-family: Tahoma;
	color: #dc2d5e;
	text-align: center;
}

.container {
	width: 100%;
	height: 350px;
}
.container .buttoncontainer {
	height: 15%;
}

.container .buttoncontainer .button {
	width: 10%;
	float: left;
	height: 100%;
	cursor: pointer;
	padding: 10px;
	font-size: 18px;
	background-color: #eee;
	border: none;
	font-weight: 600;
}

.container .info {
	height: 85%;
	background-color: gray;
	color: white;
	text-align: center;
	padding-top: 45px;
	box-sizing: border-box;
	font-size: 22px;
	display: none;
}